@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /* COLORS  */
  --golden: #f5c800;
  --blade-golden: #f2e3b6;
  --dark-yellow: #af6a0b;
  --text: #cde5f5;
  --dark-blue: #184a73;
  --dark-blue-hover: #0a3c64;
  --blue: #366894;
  --blue-hover: #225480;
  --light-blue: #5485af;
  --light-blue-hover: #40719b;
  --white: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

ul,
li {
  text-decoration: none;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
}

.darkBlue {
  background: #184a73;
}

.blue {
  background: var(--blue);
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
  display: flex;
}

header {
  color: var(--text);
  padding: 0 25px;
  position: fixed;
  right: 0;
  left: 0;
  color: var(--text);
  display: flex;
  align-items: center;
  z-index: 999;
}

.menus_Header {
  background: var(--dark-blue);
  max-width: 1280px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 95px;
  transition: heigth 200ms;
  border-bottom: 3px solid var(--light-blue);
}

.exercice_Header {
  background: var(--light-blue);
  width: 100%;
  height: auto;
  padding: 23px;
  position: relative;
  font-size: 12px;
}

.exercice_Header .complement {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.exercice_Header .header_wrapper {
  display: flex;
  align-items: center;
  height: auto;
  max-width: 1280px;
  width: 100%;
  margin-bottom: 15px;
}

.exercice_Header .header_wrapper h2 {
  margin-left: 15px;
  flex: 1;
  font-size: 21px;
  font-weight: 400;
}

header .right {
  margin-right: auto;
}

header span {
  color: var(--text);
  margin-right: 10px;
}

main {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  position: relative;
  /* animation: opening 1.3s linear forwards; */
}

/* @keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

h1 {
  color: var(--golden);
  font-size: clamp(25px, 4vw, 50px);
  font-weight: 900;
  line-height: clamp(18px, 4vw, 100px);
  margin-bottom: 2vh;
}

.main_wrapper {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin-top: 95px;
}

.main_wrapper span {
  color: var(--text);
}

.main_wrapper form {
  margin-top: 60px;
}

.main_wrapper input {
  outline: none;
  border: none;
  height: 55px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 5px;
  color: var(--text);
  background: var(--blue-hover);
  font-size: 25px;
  padding: 10px;
  font-weight: 900;
}

/* Temp Link*/

.temp_link {
  color: white;
  font-weight: bold;
  padding: 15px;
  width: 120px;
  background: var(--light-blue);
}

/* Button*/
button {
  width: 100%;
  max-width: 300px;
  max-height: 55px;
  outline: none;
  border: none;
  padding: 10px;
  font-weight: 900;
  cursor: pointer;
  font-size: 25px;
}

/* Blade yellow*/
.blade {
  background: var(--blade-golden);
  color: var(--dark-blue);
}

.blade:hover {
  color: var(--golden);
}

.blade:active {
  background: var(--white);
}

/* .blue {
  font-size: 18px;
  margin-top: 40px;
  background: var(--light-blue);
  color: var(--text);
}

.blue:hover {
  font-size: 18px;
  margin-top: 40px;
  background: var(--text);
  color: var(--dark-blue);
} */

.return {
  width: 250px;
}

#footer {
  align-self: flex-end;
  display: flex;
  bottom: 95px;
  align-items: center;
  width: 100%;
  /* background: var(--dark-blue); */
  color: var(--text);
  font-size: 20px;
}

#footer .propos {
  background: var(--light-blue);
  padding: 5px 10px;
  cursor: pointer;
}

#footer .propos:hover {
  background: var(--blade-golden);
  color: var(--dark-blue);
}

#footer .impressum {
  margin-left: auto;
  color: var(--light-blue);
}

#footer .impressum:hover {
  color: var(--text);
  cursor: pointer;
}

#propos {
  z-index: 99;
  color: var(--text);
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: #5485af;
  padding: 30px;
  font-size: 17px;
  animation: propos 0.5s ease-in-out forwards;
}

@keyframes propos {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#propos h2 {
  margin-bottom: 25px;
}

/* Transitions between Pages*/
.home-leave {
  transform: translateX(0);
}
.home-leave-active {
  transition: all 0.7s ease;
}
.home-leave-to {
  transform: translateX(100%);
}

.home-enter {
  transform: translateX(-100%);
}

.home-enter-active {
  transition: all 0.7s ease;
}

.home-enter-to {
  transform: translateX(0);
  position: absolute;
  top: 0;
  left: 0;
}

/* Slide to home */
.test-leave {
  transform: translateX(0);
}

.test-leave-active {
  transition: all 0.7s ease;
}
.test-leave-to {
  transform: translateX(-100%);
}

.test-enter {
  transform: translateX(100%);
}
.test-enter-active {
  transition: all 0.7s ease;
}
.test-enter-to {
  transform: translateX(0);
  position: absolute;
  top: 0;
  left: 0;
}

.test2-leave {
  transform: translateX(0);
}
.test2-leave-active {
  transition: all 0.7s ease;
}
.test2-leave-to {
  transform: translateX(-100%);
}

.test2-enter {
  transform: translateX(100%);
}
.test2-enter-active {
  transition: all 0.7s ease;
}
.test2-enter-to {
  transform: translateX(0);
  position: absolute;
  top: 0;
  left: 0;
}

.test4-leave {
  transform: translateX(0);
}
.test4-leave-active {
  transition: all 0.7s ease;
}
.test4-leave-to {
  transform: translateX(100%);
}

.test4-enter {
  transform: translateX(-100%);
}
.test4-enter-active {
  transition: all 0.7s ease;
}
.test4-enter-to {
  transform: translateX(0);
  position: absolute;
  top: 0px;
  left: 0;
}

/* page theme */
.category_Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.category {
  position: relative;
  height: 95px;
  display: flex;
  max-width: 50%;
  width: 100%;
  cursor: pointer;
  padding: 15px 25px;
  color: var(--white);
  background: var(--dark-blue);
  overflow: hidden;
}

#download {
  position: absolute;
  left: 20;
  top: 20;
  z-index: 99;
  fill: #5485af;
}

#download:hover {
  fill: var(--golden);
}

.category:hover,
.category:hover .title {
  background: var(--dark-blue-hover);
}

.supp {
  background: var(--blade-golden);
  height: 100%;
  display: flex;
  align-items: center;
  width: 140px;
  padding: 10px;
  margin-left: 30px;
}

.supp a {
  font-size: 16px;
  color: var(--dark-blue);
}
.title .infos {
  padding: 15px 15px 15px 55px;
}

.title {
  position: absolute;
  background: var(--dark-blue);
  color: white;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  transition: 300ms left ease-in-out;
}

.title h2 {
  font-size: 25px;
  color: var(--text);
}

.title span {
  font-size: 15px;
  line-height: 15px;
}

.opened {
  left: 185px;
}

/* Page 3 */

.router {
  position: sticky;
  top: 95px;
  color: var(--text);
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  z-index: 999;
}

.router a {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 25px;
}

.router .blue {
  flex: 3;
}

.router svg {
  fill: #cde5f5;
}

.router a:hover,
a:hover svg {
  background: var(--dark-blue-hover);
  fill: var(--golden);
}

.router .blue:hover,
.blue:hover svg {
  background: var(--blue-hover);
  fill: var(--golden);
}

.router span {
  font-size: 19px;
  margin-left: 20px;
  font-weight: 900;
  flex: 1;
}

.thematique {
  background: var(--blue);
  color: var(--text);
  width: 100%;
}

.thematique h2 {
  padding: 10px 25px;
  font-size: 19px;
}

.thematique ul > li {
  max-height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
}

.thematique ul li a {
  height: 80px;
  width: 100%;
  display: flex;
  padding-left: 50px;
  align-items: center;
  font-size: 18px;
  font-weight: 900;
  color: var(--text);
  background: var(--blue);
}

.thematique ul li a:hover {
  cursor: pointer;
  background: var(--blue-hover);
}

/* Exercice */
.exercice_Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.exercice {
  position: relative;
  min-height: 80px;
  height: auto;
  display: flex;
  align-items: center;
  max-width: 50%;
  width: 100%;
  cursor: pointer;
  padding: 15px 12px;
  color: var(--white);
  background: inherit;
  overflow: hidden;
}

.exercice:hover {
  background: var(--light-blue-hover);
}

.exercice span {
  font-size: 17px;
  flex: 1;
  margin-left: 15px;
}

/* Exercice Menu */
.flex {
  display: flex;
  justify-content: center;
}

.menu_Exercice {
  margin-top: -95px;
  color: var(--dark-blue);
  max-width: 320px;
  width: 100%;
  padding: 20px 20px;
}

.menu_Exercice #niveaux {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.menu_Exercice #niveaux h3 {
  min-width: 100px;
}

.choix {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.choix > div {
  flex-basis: 100%;
}

@media screen and (max-width: 860px) {
  .category,
  .exercice {
    max-width: 100%;
  }
}
